<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    <title>ninjachat</title>
    <script data-main="/javascripts/game" src="/javascripts/lib/require-jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/game.css">
  </head>
  <body>
    <!-- for enchant.js -->
    <div id="enchant-stage"></div>
    <!-- balloons -->
    <div id="balloons"></div>
    <!-- chat -->
    <div id="chatbox">
<!--
      <form accept-charset="utf-8" method="get" action="none">
        <input type="text" maxlength="60" class="gp" id="chatinput">
      </form>
-->
      <input type="text" maxlength="60" class="gp" id="chatinput" placeholder="Please input message.">
    </div>
  </body>
</html>
